{% extends 'base.html' %}
{% load static %}
{% block title %}Item Upload{% endblock %}

{% block extra_css %}
<link rel="stylesheet"  href="{% static 'css/upload.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-top: 125px;padding-bottom:50px;">

<div class="form-section mb-5">
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}

    <div class="input-group">
        <input class="input" type="text" name="name" id="name"  required>
        <label for="name">Item Name</label>
    </div>
    <div class="input-group">
        <textarea class="input" name="desc" id="desc" required rows="2" cols="10"></textarea>
        <label for="desc">Description</label>
    </div>
        <div class="input-group">
        <input class="input" type="number" name="price" id="price" required>
        <label for="price">Price</label>
    </div>
    <div class="input-group">
        <img id="uploaded-image" src="{{ image.url }}" class="mt-2" style="width: 150px; max-height: 150px;">
        <input class="input pt-4" type="file" name="image" id="image" required>
        <label class="mb-3" for="image">Upload Image:</label>

    </div>
    <div class="input-group">
        <input class="input" type="number" name="phone" id="phone" required>
        <label for="phone">Contact No.</label>
    </div>
    <div class="input-group">

        <select class="input" id="cat" name="category" required>
            {% for i in links %}
            <option  value="{{ i.name }}">{{i.name}}</option>
            {% endfor %}
        </select>
        <label class="none" for="cat">Category</label>

    </div>
    <div class="submit-section text-center">
        <button type="submit" class="btn btn-info text-center">Upload</button>
    </div>

</form>
</div>
</div>

<script>
    const imageInput = document.getElementById('image');
    const uploadedImage = document.getElementById('uploaded-image');

    imageInput.addEventListener('change', function() {
        if (this.files.length > 0) {
            const file = this.files[0];
            const reader = new FileReader();

            reader.onload = function(e) {
                uploadedImage.src = e.target.result;
            };

            reader.readAsDataURL(file);
        } else {
            uploadedImage.src = ''; // Clear the image if no file selected
        }
    });
</script>


{% endblock %}